.DS_Store
imgs/img ref.txt
TributePage_screenshot.png
imgs/Adularus-2012.JPG
imgs/Animaris-Gubernare-2011.JPG
imgs/Animaris-Siamesis-2010.jpg
imgs/Apodiacula-2013.jpg
imgs/Bruchum-Primus-pulled-by-an-Adulari-2016.jpg
imgs/Percipiere-Rectus-2005.jpg
