body {
    background-color: white;
    font-family: 'Lora', serif;
}

hr:first-of-type {
    margin-top: 16px;
}

h1 {
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

#subtitle {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

#img-div {
    /* user-story#9 */
    background-color: #F1F1F3;
    margin: 0 0 30px;
    padding: 0px;
    border-radius: 4px;
}

#image {
    /* user-story#8 */
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#img-caption {
    margin-top: -20px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 0.9em;
}

p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1em;
    line-height: 1.6em;
}

#imgs-box {
    background-color: #FFECD3;
    border-radius: 4px;
    padding: 6px 0;
    margin: 40px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.small-img {
    max-width: 100%;
    height: auto;
}

.imgs-box-caption {
    font-size: 0.9em;
    text-indent: 2%;
    padding: 5px 0 0;
}

.small-imgs-figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFBF6;
    max-width: 300px;
    padding: 3px;
    margin: 10px;
}

footer {
    margin: 30px -8px -8px;
    padding: 10px 26px 10px;
    text-align: justify;
    font-size: 0.8em;
    background-color: #FFF6EB;
    border-top: 1px solid #333;
}

@media (max-width: 460px) {
    h1 {
        font-size: 2.5rem;
    }
    #subtitle {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
    #image {
        padding-top: 10px;
    }
    #image-div {
        margin: -5px 0px -5px;
    }
}